.container {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 20px;
}

.landing {
  max-width: 1300px;
  min-height: 100vh;
  margin: auto;
  padding-top: 97px;
  padding-left: 20px;
  padding-right: 20px;
  caret-color: transparent;
  background: #8758ff;
}
