.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin-top: 2.5rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.empty-text {
  color: #fff;
}

.task-counter {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.todo-input {
  outline: none;
  background: none;
  border-radius: 5px 0 0 5px;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.filter-container {
  display: flex;
}

.filter {
  color: #fff;
  margin-right: 1rem;
  padding: 0.55rem;
  padding-left: 0;
}

.filter-select {
  outline: none;
  background: none;
  border-radius: 5px;
  border: 1px solid #8758ff;
  color: #fff;
  padding: 2px 10px;
  cursor: pointer;
}

.filter-select option {
  background-color: #8758ff;
  color: #fff;
}

.error {
  border: 1px solid red;
}

.delete-icon {
  cursor: pointer;
  padding-left: 0.5rem;
}
